:root {
  --white: #fefae0;
  --green: #606c38;
  --darkgreen: #283618;
  --orange: #dda14e;
  --darkorange: #bc6c25;
  --rust: #7a3e01;
  --brown: #381800;
}

body {
  font: 14px "General Grotesque", Courier New, monospace, Helvetica, Arial,
    sans-serif;
  background-color: var(--white);
  margin: 0;
}

.header {
  position: sticky;
  background-color: var(--darkorange);
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--darkorange);
  padding: 0.5%;
  border-bottom: 4px solid var(--rust);
}

nav > a {
  font: 18px;
  padding: 15px solid var(--darkorange);
  display: flex;
  color: var(--white);
  background: var(--rust);
  padding: 0.5%;
  text-align: center;
  transition: background 0.25s, box-shadow 0.15s;
  border-radius: 5px;
  max-width: 400px;
}

nav > a:hover {
  transition: 0.3s;
  color: var(--white);
  box-shadow: 2px 2px 0px 0px var(--brown);
  filter: drop-shadow(4px 4px 4px var(--rust));
}

.card {
  animation: 0.5s ease-out 0s 1 slideIn;
  border-radius: 25px;
  box-shadow: 0px 14px 80px rgba(64, 35, 58, 0.2);
  padding: 1%;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  text-align: center;
  margin-top: 5%;
  max-width: 400px;
}

.card > img {
  box-shadow: 0px 4px 8px rgba(34, 35, 58, 1.2);
  border-radius: 4px;
}

.indexMain {
  animation: 0.5s ease-out 0s 1 slideIn;
  margin-top: 5%;
  border-radius: 25px;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.5);
  padding: 1%;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

.postCounter {
  text-align: center;
}

.splash {
  display: flex;
  flex: 0 0 25%;
  flex-wrap: wrap;
}

.splash > div {
  align-items: center;
  object-fit: contain;
  max-width: 31%;
  margin: 1%;
  transition: opacity 1s;
}

.splash > * > img {
  box-shadow: 0px 4px 8px rgba(34, 35, 58, 1.2);
  border-radius: 10px;
  object-fit: contain;
  max-width: 100%;
}

footer {
  position: fixed;
  bottom: 0;
  background-color: var(--darkorange);
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding-top: 0.5%;
}

.spacey-quote {
  font-size: 1.3em;
  padding: 20px;
  margin-bottom: 40px;
  color: darkred;
  max-width: 800px;
  margin: auto;
}

.spacey-quote > * {
  text-shadow: 0 2px 2px rgba(159, 82, 5, 0.4);
}

.spacey-quote > p {
  font-size: 1em;
  text-align: right;
  color: var(--brown);
}

.form-field {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
}

.form-field > * {
  border-radius: 4px;
  border: none;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

.form-field > button {
  color: var(--white);
  background-color: var(--brown);
  padding: 0.4rem 1rem;
}

.form-field > .checkbox {
  box-shadow: none;
}

.form-field > label {
  color: var(--brown);
  box-shadow: none;
}

@keyframes slideIn {
  0% {
    transform: translateY(-10%);
  }
  100% {
    transform: translateY(0);
  }
}
