:root {
  --white: #fefae0;
  --green: #606c38;
  --darkgreen: #283618;
  --orange: #dda14e;
  --darkorange: #bc6c25;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: var(--white);
  margin: 0;
}

.header {
  position: sticky;
  background-color: var(--darkorange);
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--darkorange);
  padding: 0.5%;
  border-bottom: 4px solid #7a3e01;
}

.navbar > a {
  font: 18px "Lucina Grande";
  padding: 15px solid var(--darkorange);
  display: flex;
  font-family: Futura, Trebuchet MS, Arial, sans-serif;
  color: var(--white);
  text-align: center;
  transition: background 0.25s, box-shadow 0.15s;
}

main {
}

.navbar > a:hover {
  color: var(--white);
  background: var(--green);
  padding: 0.5%;
  box-shadow: 0px 4px 0px 0px var(--darkgreen);
  filter: drop-shadow(4px 4px 4px var(--darkgreen));
}

.footer {
  position: sticky;
  bottom: 0;
  left: 0;
  background-color: var(--darkorange);
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
